.footer-container {
    height: 300px;
    text-align: center;
    padding-top: 70px;
}

.terms {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.footer-container a {
    text-decoration: none;
}